<div class="container-fluid">
    <div class="row">
        <div class="col-6 image-container">
            <div class="form-group">
                <label class="hoverable" (click)="onSelectFile()">
                    <img class="image-file"
                        [src]="noticia.imagen ? urlImagen : './assets/img/noticia_default.png'">
                    <div class="hover-text">Elegir imagen</div>
                    <div class="background"></div>
                </label>
            </div>
            <fa-icon [icon]="faDelete" class="delete-image" *ngIf="noticia.imagen" (click)="deleteFile()">
            </fa-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input id="titulo" type="text" [(ngModel)]="noticia.titulo" [ngModelOptions]="{standalone: true}"
                    [ngClass]="submitted && !noticia.titulo ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                <div *ngIf="submitted && !noticia.titulo" class="msg-input-error">Este campo es requerido</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="fechaCaducidad">Fecha de vencimiento</label>
                <div class="input-group">
                    <fa-icon [icon]="faCalendar" class="input-group-prepend input-group-text" (click)="d.toggle()">
                    </fa-icon>
                    <input placeholder="yyyy-mm-dd" name="dp" #d="ngbDatepicker" [(ngModel)]="fechaCaducidad"
                        [ngModelOptions]="{standalone: true}" ngbDatepicker placement="right"
                        [ngClass]="submitted && !fechaCaducidad ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                </div>
                <div *ngIf="submitted && !fechaCaducidad" class="msg-input-error">Este campo es requerido</div>
            </div>
        </div>
        <div class="col-3 center-vertical">
            <div class="form-check-rk">
                <input class="form-check-input" type="checkbox" [(ngModel)]="noticia.visible" id="visible"
                    data-toggle="toggle">
                <label class="form-check-label" for="visible">
                    La noticia es visible en el inicio
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group mt-3">
                <label for="contenido" style="font-size: 1rem;">Contenido</label>
                <textarea id="contenido" [(ngModel)]="noticia.contenido" style="padding: 0.3rem 0.8rem !important;"
                    [ngModelOptions]="{standalone: true}"
                    [ngClass]="submitted && !noticia.contenido ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'"></textarea>
                <div *ngIf="submitted && !noticia.contenido" class="msg-input-error">Este campo es requerido</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-end mt-3">
        <button class="btn btn-inverse btn-fill mr-2" (click)="back()">
            Cancelar
        </button>
        <button class="btn btn-success btn-fill mr-3" (click)="save()">
            Guardar Noticia
        </button>
    </div>
</div>