.modal-header {
    background-color: white !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.container-fluid {
    .row {
        .col {
            .btn {
                width: 100%;
            }

            .btn-selected {
                background-color: #3f51b5;
            }
        }
    }
}
