.navbar {
  height: 65px !important;
}

.back-button {
  text-align: center;
  width: 40px;
  cursor: pointer;
}

/* .navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 65px !important;
  background-color: #1a237e;
  color: white;
  padding: 0px 15px;
  opacity: .8;
}

fa-icon{
  text-align: center;
  width: 40px;
  cursor: pointer;
  padding: 10px;
}

.back-button {
  text-align: center;
  width: 40px;
  cursor: pointer;
} */
