.items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .inscripcion-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 0px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        border-radius: 6px;
        background: #fff;
        width: 30%;
        margin: 10px;

        .inscripcion-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 5px 10px;
            background-color: #3f51b5;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            h6 {
                color: white;
                margin: 0px;
                text-transform: capitalize;
            }
        }

        .inscripcion-body {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 10px;

            p {
                margin: 0px;
                font-size: 0.8rem;
                line-height: 1rem;
                padding: 2px 5px;
                border-bottom: 1px solid white;
            }
        }

        .inscripcion-footer {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding-bottom: 10px;
            h6 {
                width: 100%;
                margin: 0px;
                text-align: center;
            }
        }
    }
}
