<p>Haz iniciado sesión como <b>Administrador</b> del sistema Estilos de Vida Saludables.</p>

<ngb-carousel interval="5000" [pauseOnHover]="false">
    <ng-template ngbSlide>
        <div class="photo-container">
            <img src="./assets/img/other/air-cdu.png" alt="">
        </div>
        <div class="carousel-caption">
            <p>Vista aerea del Centro Deportivo Universitario</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="photo-container">
            <img src="./assets/img/other/coliseo-cdu.png" alt="">
        </div>
        <div class="carousel-caption">
            <p>Reunión en el coliseo cubierto</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="photo-container">
            <img src="./assets/img/other/cancha-cdu.png" alt="">
        </div>
        <div class="carousel-caption">
            <p>Deporte en las instalaciones del CDU</p>
        </div>
    </ng-template>
</ngb-carousel>

<p style="margin-top: 30px;">
    Navega por la opciones del menú lateral para gestionar a los usuarios, valorar a los deportistas y llevar el control
    de asistencia.
    Adicionalmente, podrás gestionar los recursos como noticias, eventos y horarios del programa.
</p>